<div id="gannt-container" style="width: 75vw; overflow-x: scroll">
	<svg id="gantt"></svg>
</div>

<button id="save">Save</button>

<script>
	// Use ERB to build an array of taks from the list of task object we got from the database
	var tasks = [
		<% @tasks.each do |task| %>

			// This is a JavaScript object being built piece-by-piece with ERB
			{
				id: "<%= task["id"] %>",
				name: "<%= task["name"] %>",
				start: "<%= task["start"] %>",
				end: "<%= task["finish"] %>",
				progress: "<%= task["progress"] %>",
				dependencies: "<%= task["dependencies"] %>"
			},
		<% end %>
	]

	// Initializes the Gantt Chart
	var gantt = new Gantt('#gantt', tasks, {

			// Attaches a special event listener to listen for when the date of a task is changed
			on_date_change: function(changed_task, start, end) {

				// Find a task in the tasks array with the same ID as the task that was changed
				tasks.forEach(function(task) {
					if (task.id === changed_task.id) {

						// Update it's start and end date
						task.end = end["_d"].getFullYear() + "-" + (end["_d"].getMonth() + 1) + "-" + end["_d"].getDate();
						task.start = start["_d"].getFullYear() + "-" + (start["_d"].getMonth() + 1) + "-" + start["_d"].getDate();
					}
				});
			}
	});	

	// Listen for the save button being clicked
	document.getElementById("save").addEventListener("click", function() {

		// Change the value of the hidden field
		document.getElementById("tasks-field").setAttribute("value", JSON.stringify({tasks: gantt.tasks}));

		// Tell the hidden for to submit
		document.getElementById("save-changes").submit();
	});
</script>

<%# Hidden form %>
<%= form_for :tasks, url: save_tasks_path, html: { id: "save-changes" } do %>
	<% hidden_field(:task_list, :other, id: "tasks-field") %>
<% end %>